/* list列表页css */

.sk {
    position: absolute;
    left: 186px;
    top: 38px;
    border-left: 1px solid #c81523;
    padding:3px 0 0 12px ;
}
.sk_list {
    float: left;
}
.sk_list ul li {
    float: left;
    height: 45px;
    
} 
.sk_list ul li a {
    display: block;
    width: 70px;
    height: 25px;
    margin: 0 22px 0 22px;
    line-height: 45px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.sk_rs {
    float: right;
    margin-right: 63px;
}
.sk_rs ul li {
    height: 45px;
    float: left;
    /* margin-left: 42px; */
}
.sk_rs ul li a {
    display: block;
    /* width: 70px;
    height: 25px; */
    margin-left: 45px;
    line-height: 49px;
    font-size: 14px;
 
}
.sk_rs ul li:last-child a::after {
    content: '\e905';
    font-family: 'icomoon';
} 
/* 中间广告 */
.ad {
    height: 120px;
    margin-top: 10px ;
}
/* 产品模块 */
.product {
    margin-bottom: 100px;
}
.product ul li {
    overflow: hidden;
    float: left;
    width: 300px;
    height: 450px;
    border: 1px solid transparent;
    /* margin-left: 1px;
    margin-right: 1px; */
}
.product ul li:hover {
    border: 1px solid red;
  
}
.chan {
    width: 300px;
    height: 450px;
    background-color:#ffffff;
    
}
.chan img {
    width: 300px;
    height: 290px;
}
.cha_text {
    width: 300px;
    height: 40px;
    font-size: 14px;
    color: #666666;
    margin-left: 15px;
   
}
.miaosa_one {
    width: 300px;
    height: 26px;
    font-size: 22px;
    color: #e60012;
    margin-left: 20px;
    line-height: 26px;
     font-weight: 700; 
     margin-top: 5px;
     
}
.miaosa_one i {
    font-size: 14px;
    color: #a4a4a4;
    font-style: normal;
    margin-right: 5px;
    text-decoration: line-through;
}
.inventory {
    width: 282px;
    height: 30px;
    /* background-color: royalblue; */
    font-size: 14px;
    color: #666666;
    line-height: 30px;
   padding-left: 18px;
   /* padding-top: 10px; */
}
.inventory i {
    font-style: normal;
    color: red;
}
.progress {
   display: inline-block;
}
.progress {
    width: 130px;
    height: 10px;
    border:1px solid red;
    border-radius: 5px;
    margin: 0 10px 0 10px;
}
.progress span {
    display: block;
    width: 100px;
    height: 100%;
    background-color: red;
}
.progress:hover span {
    width: 100%;
}
.qiang {
    width: 290px;
    height: 46px;
    background-color: #b1191a;
    font-size: 20px;
    color: #fff;
    line-height: 46px;
  margin: 9px 0 0 5px;
  border: 1px solid #b1191a;
}