.w {
    width: 1200px;
    margin: 0 auto;
}
.log {
    height: 82px;
    border-bottom: 2px solid #c51929;
    padding-top: 17px;
}
.part {
    height: 520px;
    border: 1px solid #ccc;
    margin-top: 22px;
}
.part h3 {
    position: relative;
    height: 42px;
    background-color: #ececec;
    border-bottom: 1px solid #ececec;
    line-height: 42px;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
   padding-left: 10px;
}
.part .login_n {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 14px;
}
.part .login_n a {
    color: #c81623;
}
.reg_1 {
    width: 550px;
    margin: 50px auto 0;
}
.reg_1 ul li {
    margin-top: 10px;
}
.reg_1 form ul li label {
    display: inline-block;
    width: 85px;
    font-size: 14px;
    color: #4c4c4c;
    text-align: right;
}
.reg_1 ul li input[type=text],
input[type=password] {
    width: 238px;
    height: 35px;
    border: 1px solid #ececec;
    
}
.reg_error {
    font-size: 12px;
    color: #df3033;

}
.error_icon {
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../upload/error_reg.png) no-repeat;
    margin-top: -2px;
}
.reg_success {
    font-size: 12px;
    color: green;
}
.success_icon {
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/success.png) no-repeat;
    margin-top: -2px;
}
.safety {
    /* width: 168px; */
    height: 20px;
    /* background-color: hotpink; */
    margin-left: 170px;
}
.safety em {
    padding:0 12px;
    text-align: center;
    color: #fff;

}
.ruo {
    background-color: #de1111;
}
.zhong {
    background-color: #40b83f;
}
.qiang {
    background-color: #f79100;
}
.reg_1 .reg_agree {
    margin:42px 0 15px 88px;
}
.reg_agree input {
    vertical-align: middle;
    width: 15px;
    height: 15px;
}
.reg_agree a { 
    color: #93caf0 ;
}
.reg_sub {
    width: 200px;
    height: 34px;
    background-color: #c81623;
    font-style: 14px;
    color: #fff;
    margin: 0 0 0 98px;
}
.mod_copy {
    text-align: center;
    margin: 20px auto;
}
.links a{
    padding: 0 12px;
}
.mod_copy  .dizhi {
    line-height: 20px;
}